* {
    margin: 0vh;
    padding: 0vh;
}

.background {
    min-height: 100vh;
    width: cover;
    background-image: linear-gradient(rgba(4,9,30,0.3), rgba(4,9,30,0.3)),url(IMGS/IMG.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.header {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
    padding: 0.7cm;
}

.projectAlink {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:normal;
    position:absolute;
    top: 460px;
    left: 220px;
}

.projectvideo {
   position: absolute;
   top: 130px;
   left: 100px; 
}

.miniproject1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:normal;
    position:absolute;
    top: 460px;
    left: 580px;
}

.miniproject1video {
    position: absolute;
    top: 130px;
    left: 495px; 
}

.miniproject2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:normal;
    position:absolute;
    top: 460px;
    right: 614px;
}

.miniproject2video {
    position: absolute;
    top: 130px;
    right: 527px; 
}

.miniproject3 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:normal;
    position:absolute;
    top: 460px;
    right: 190px;
}

.miniproject3video {
    position: absolute;
    top: 130px;
    right: 100px; 
}

.miniproject4 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:normal;
    position:absolute;
    bottom: 40px;
    left: 368px;
}

.miniproject4video {
    position: absolute;
    bottom: 65px;
    left: 250px; 
}

.miniproject5 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:normal;
    position:absolute;
    bottom: 40px;
    left: 830px;
}

.miniproject5video {
    position: absolute;
    bottom: 65px;
    left: 700px; 
}

.miniproject6 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:normal;
    position:absolute;
    bottom: 40px;
    right: 368px;
}

.miniproject6video {
    position: absolute;
    bottom: 65px;
    right: 250px;
}