* {
    margin: 0vh;
    padding: 0vh;
}

.background {
    min-height: 100vh;
    width: cover;
    background-image: linear-gradient(rgba(4,9,30,0.3), rgba(4,9,30,0.3)),url(IMGS/IMG.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.header {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
    padding: 0.7cm;
}

.projectAlink {
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:normal;
    position:absolute;
    top: 460px;
    left: 220px;
}

.link {
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:normal;
    position:absolute;
    top: 500px;
    left: 197px;
}

.projectvideo {
   position: absolute;
   top: 130px;
   left: 100px;
   box-shadow: inset rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
}

.miniproject1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:normal;
    position:absolute;
    top: 460px;
    left: 580px;
}

.link1 {
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:normal;
    position:absolute;
    top: 500px;
    left: 563px;
}

.miniproject1video {
    position: absolute;
    top: 130px;
    left: 495px; 
}

.miniproject2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:normal;
    position:absolute;
    top: 460px;
    right: 614px;
}

.link2 {
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:normal;
    position:absolute;
    top: 500px;
    right: 160px;
}

.miniproject2video {
    position: absolute;
    top: 130px;
    right: 527px; 
}

.miniproject3 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:normal;
    position:absolute;
    top: 460px;
    right: 190px;
}

.link3 {
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:normal;
    position:absolute;
    top: 500px;
    right: 601px;
}

.miniproject3video {
    position: absolute;
    top: 130px;
    right: 100px; 
}

.miniproject4 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:normal;
    position:absolute;
    bottom: 40px;
    left: 368px;
}

.link4 {
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:normal;
    position:absolute;
    bottom: 0px;
    left: 348px;
}

.miniproject4video {
    position: absolute;
    bottom: 65px;
    left: 250px; 
}

.miniproject5 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:normal;
    position:absolute;
    bottom: 40px;
    left: 830px;
}

.link5 {
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:normal;
    position:absolute;
    bottom: 0px;
    left: 808px;
}

.miniproject5video {
    position: absolute;
    bottom: 65px;
    left: 700px; 
}

.miniproject6 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:normal;
    position:absolute;
    bottom: 40px;
    right: 368px;
}

.link6 {
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:normal;
    position:absolute;
    bottom: 0px;
    right: 343px;
}

.miniproject6video {
    position: absolute;
    bottom: 65px;
    right: 250px;
}