* {
    margin: 0vh;
    padding: 0vh;
}

.background {
    min-height: 100vh;
    width: cover;
    background-image: linear-gradient(rgba(4,9,30,0.3), rgba(4,9,30,0.3)),url(IMGS/IMG.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.header {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
    padding: 0.7cm;
}

.projectAlink {
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:normal;
    position:absolute;
    top: 460px;
    left: 220px;
}

.link {
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:normal;
    position:absolute;
    top: 500px;
    left: 197px;
}

.projectvideo {
   position: absolute;
   top: 130px;
   left: 100px;
   z-index: 1;
}

.miniproject1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:normal;
    position:absolute;
    top: 460px;
    left: 580px;
}

.link1 {
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:normal;
    position:absolute;
    top: 500px;
    left: 563px;
}

.miniproject1video {
    position: absolute;
    top: 130px;
    left: 495px; 
    z-index: 1;
}

.miniproject2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:normal;
    position:absolute;
    top: 460px;
    right: 614px;
}

.link2 {
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:normal;
    position:absolute;
    top: 500px;
    right: 160px;
}

.miniproject2video {
    position: absolute;
    top: 130px;
    right: 527px; 
    z-index: 1;
}

.miniproject3 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:normal;
    position:absolute;
    top: 460px;
    right: 190px;
}

.link3 {
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:normal;
    position:absolute;
    top: 500px;
    right: 601px;
}

.miniproject3video {
    position: absolute;
    top: 130px;
    right: 100px; 
    z-index: 1;
}

.miniproject4 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:normal;
    position:absolute;
    bottom: 40px;
    left: 368px;
}

.link4 {
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:normal;
    position:absolute;
    bottom: 0px;
    left: 348px;
}

.miniproject4video {
    position: absolute;
    bottom: 65px;
    left: 250px; 
    z-index: 1;
}

.miniproject5 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:normal;
    position:absolute;
    bottom: 40px;
    left: 830px;
}

.link5 {
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:normal;
    position:absolute;
    bottom: 0px;
    left: 808px;
}

.miniproject5video {
    position: absolute;
    bottom: 65px;
    left: 700px; 
    z-index: 1;
}

.miniproject6 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:normal;
    position:absolute;
    bottom: 40px;
    right: 368px;
}

.link6 {
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:normal;
    position:absolute;
    bottom: 0px;
    right: 343px;
}

.miniproject6video {
    position: absolute;
    bottom: 65px;
    right: 250px;
    z-index: 1;
}
.shadow {
    position: absolute;
    top: 130px ;
    left: 100px;
    width: 8.45cm;
    height: 8.45cm;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.shadow1 {
    position: absolute;
    top: 130px ;
    left: 527px;
    width: 6.74cm;
    height: 8.47cm;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 10px;
}

.shadow2 {
    position: absolute;
    top: 130px ;
    right: 527px;
    width: 8.45cm;
    height: 8.45cm;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 10px;
}
.shadow3 {
    position: absolute;
    top: 130px ;
    right: 100px;
    width: 8.45cm;
    height: 8.45cm;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 10px;
}

.shadow4 {
    position: absolute;
    bottom: 70px ;
    left: 250px;
    width: 8.45cm;
    height: 8.45cm;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 10px;
}

.shadow5 {
    position: absolute;
    bottom: 70px;
    left: 700px;
    width: 8.45cm;
    height: 8.45cm;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 10px;
}

.shadow6 {
    position: absolute;
    bottom: 70px;
    right: 250px;
    width: 8.45cm;
    height: 8.45cm;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 10px;
}
